.status-manager {
  ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 15px;

    li {
      padding: 0px;
      padding-left: 10px;
      padding-right: 0px;
      font-size: 20px;
      border-bottom: 1px solid $white;
      color: $white;
      cursor: pointer;
      height: 50px;

      &.active {
        background-color: $white;
        color: $brand-success;
        font-weight: bold;
        cursor: default;
      }

      .status-description {
        width: calc(100% - 50px);
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 50px;
        padding-top: 12px;

        span {
          padding-right: 10px;
        }
      }

      .active-status-icon {
        margin-right: 10px;
      }

      .btn {
        background-color: transparent;
        border-radius: 0px;
        border-left: 1px solid $white;
        font-size: 20px;
        margin-left: 6px;
        margin-top: 3px;

        &:hover {
          color: $gray-lighter;
        }
      }
    }
  }

  form {
    margin-top: 23px;
    margin-right: 15px;

    .btn {
      vertical-align: top;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 34px;
    }

    .rich-input-field {
      width: calc(100% - 67px);
      display: inline-block;

      .input-group {
        width: 100%;
        display: inline-table;
      }

      input {
        width: 100%;
      }

      .help-block {
        opacity: 1;
        text-align: left;
        padding-left: 13px;
        margin-bottom: 0px;
        color: $white;
      }
    }
  }
}
