.user-status {
  background-color: $gray-lighter;
  padding: 20px;
  border-radius: $block-border-radius;

  text-align: center;
  a {
    color: $brand-info;
  }

  h1 {
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $brand-info;
  }

  h2 {
    .prefix {
      font-size: 70%;
      font-weight: normal;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    .prefix {
      display: block;
      text-transform: capitalize;
      font-weight: normal;
    }
    font-size: 14px;
  }

  h4 {
    margin-top: 20px;
    font-size: 14px;
    color: $gray-light;
  }

  ul {
    padding: 0px;
    list-style-type: none;

    li {
      color: $gray-light;
      font-size: 13px;

      &:before {
        content: "\25BA";
        padding-right: 5px;
      }

      &:after {
        content: "\25C4";
        padding-left: 5px;
      }
    }
  }
}
