.profile-section {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .section-block {
    border-radius: $block-border-radius;
    padding: 20px 25px;

    @media (max-width: 991px) {
      &:not(:first-child) {
        margin-top: $block-margin;
      }
    }
  }

  .profile-block {
    background-color: $brand-primary;

    .user-status {
      min-height: 302px;
    }
  }

  .status-manager-block {
    background-color: $brand-success;
    padding-right: 10px;

    @media (min-width: 992px) {
      margin-left: $block-margin;
      width: calc(33.3333% - #{$block-margin});
    }
  }

  .follow-block {
    background-color: $brand-info;
    min-height: 400px;
  }

  .followers-block {
    @media (min-width: 992px) {
      margin-left: $block-margin;
      width: calc(50% - #{$block-margin});
    }
  }
}
