.profile-section {
  .profile-block {
    background-color: $brand-primary;

    .user-status {
      min-height: 302px;
    }
  }

  .status-manager-block {
    background-color: $brand-success;
    padding-right: 10px;

    @media (min-width: 992px) {
      margin-left: $block-margin;
      width: calc(33.3333% - #{$block-margin});
    }
  }

  .follow-block {
    background-color: $brand-info;
    min-height: 300px;
    color: $white;

    a {
      color: $white;
    }

    ul {
      li {
        font-size: 20px;

        &:before {
          content: "\27A4 ";
        }
      }
    }
  }

  .followers-block {
    @media (min-width: 992px) {
      margin-left: $block-margin;
      width: calc(50% - #{$block-margin});
    }
  }

  .invalid-user-block {
    background-color: $brand-warning;
    color: $white;
    min-height: 200px;
  }
}
